@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #fe3c00;
  --button-secondary-hover: #fe3c00;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: top;
  justify-items: left;
  min-height: 100svh;
  padding: 60px 40px 60px 60px;
  gap: 64px;
  font-family: "Space Grotesk", sans-serif;
  background-color:  #fff;;
  
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #fe3c00;
    --button-secondary-hover: #fe3c00;
  }
}

.left{
  background-color: #fff;
  width: 50vw;
  height: 100%;
  grid-area: 1 / 1 / 3 / 2;
}

.left h1{
  color: #fe3c00;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64pt;
}

.left a{
  color: #fe3c00;
  text-decoration: none;
}

.right{

  width: 50vw;
  width: 100%;
  height: 100vh;
  grid-area: 1 / 2 / 3 / 3;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.image {
  width: auto;
  height: 60vh;
  object-fit: cover;
  filter: grayscale(100%);
}

.right::-webkit-scrollbar {
  display: none;
}

.right h1 {
  font-family: "Space Grotesk", sans-serif;
  color: black;
  font-size: 3rem;
}

.right p {
  font-family: "Space Grotesk", sans-serif;
  color: black;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  gap: 16px;
}

.ctas a {
  appearance: none;
  width: 40vw;
  border-radius: 0;
  height: 10vh;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  font-size: 7rem;
  font-weight: 900;
  text-transform: uppercase;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  text-indent: 4%;
}

a.primary {
  color: #0a0a0a;
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  grid-area: 2 / 1 / 3 ;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.display {
  color: #fe3c00;
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(50vw / 6);
  padding-left: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 1550px) {
  .ctas a {
    font-size: 5rem;
  }
}

@media (max-width: 1100px) {
  .ctas a {
    font-size: 4rem;
  }
}

@media (max-width: 950px) {
  .ctas a {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .ctas a {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .ctas a {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .ctas a {
    font-size: 1.3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

